@import url("./variables");
@import url("./fonts");
@import url("./settings");

/* styles for example ↓ */

.wrapper {
    max-width: 1380px;
    width: 100%;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
}

.main__screen {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.page__title {
    font-size: 10rem;
}

.page__subblock {
    display: flex;
    align-items: center;
    gap: 20px;
}

.page__subtitle {
    font-size: 5rem;    
}

.page__svg {
    width: 100px;
    height: 100px;
    transition: transform .2s ease-in-out;

    &:hover {
        transform: scale(1.1);
    }
}
